<!DOCTYPE html>
<html lang="en">
<head>
    <META name = "viewport" content="width = device-width, initial-scale=1.0">
        <div class = Header>
            <h1 class ="Title">
                Old New Clothes
            </h1>
        </div>
    
        <div>

            <h2 class = SecondTitle>
                your result,<br>
                Click for more information
            </h2>
          
           
        </div>
    <link rel = "stylesheet" href= "../Static/MySite.css">
    <script src  ="../Static/MySite.js"> </script>
</head>
<body>

    <ul id="galleries">
        <li>
            <a href=""><img src="../Static/Shirt1.jpeg"  class="border" width="550" height="850" border="5"  ></a>
        </li>
        <li>
            <a href=""><img src="../Static/Shirt2.jpeg"  class="border" width="550" height="850" border="5" /></a>
        </li>
        <li>
            <a href=""><img src="../Static/Shirt3.jpeg"  class="border" width="550" height="850" border="5" ></a>
        </li>
        <li>
            <a href=""><img src="../Static/Shirt4.jpeg"  class="border" width="550" height="850" border="5"></a>
        </li>
        <li>
            <a href=""><img src="../Static/Shirt5.jpeg"  class="border" width="550" height="850" border="5"></a>
        </li>
    </ul>

</body>
</html>