<!DOCTYPE html>
<html lang="en">
<head>
  

    <div class = Header>
        <h1 class ="Title">
            Old New Clothes
        </h1>
    </div>
    <link rel = "stylesheet" href= "../Static/MySite.css">
    <script src  ="../Static/MySite.js"> </script>

</head>
<body>
    
    <div class ="informationGrid">


  
      <div class="item1">
        
            <img class = "TheChosen" src="../Static/Shirt4.jpeg" alt="Shirt" >
            <p class = "information">
                SIZE: L<br>
                PRICE: 10$ 
            </p>
            
                <div class = "contact">
                    contact:<br>
                    <p class = "name">
                        Name: noa choen
                    </p>
                    <p class = "Number">
                        0545000000
                    </p>
                </div><br>
            <a class="whatsapp" href ="https://wa.me/0545620520?text=I'm%20interested%20in%20your%20item%20for%20sale">
                <img src="../Static/Whatsapp.png" width="50" height="50" >
                  
            </a>
                
           
         
     </div>
    
     



    </div>



</body>
</html>>