<!doctype html>
<html>
<head>
    <META name = "viewport" content="width = device-width, initial-scale=1.0">
    <title>
        Old New Clothes
    </title>
    <link rel = "stylesheet" href= "../Static/MySite.css">
    <script src  ="../Static/MySite.js"> </script>
        
</head>

<body>
   <div>
    <h1 class = Title>
        Old New Clothes
    </h1>
   </div>
          
    <div>
        <h2 class = SecondTitle>
            let's log in
        </h2>
    
    </div>
  
    <div class = "grid-container"> 
        <div>
            <form onsubmit="return  CheckForBlank()">
                <label for = "User_Name" >Enter User Name</label><br>
                <input type="text" id="User_Name" name = "User_Name"><br>
                <label for = "User Password"> Enter Password</label><br>
                <input type="password" id="User Password" name = User Password> <br>
                <input type = "submit" id ="submit" name = Enter>
            </form>        
        </div>
        <div></div>
        <div></div>
    </div>

</body>




</html>


