<!DOCTYPE html>
<html lang="en">
<head>
    <div class = Header>
        <h1 class ="Title">
            Old New Clothes
        </h1>
    </div>
    <div>

        <h2 class = SecondTitle>
            Hi , Please Fill In The Fields
        </h2>
      
    </div>
    <link rel = "stylesheet" href= "../Static/MySite.css">
    <script src  ="../Static/MySite.js"> </script>

</head>
<body>

<div class = "Search">
<form class = "SearchForm">
    <label for="Rent/Purchase" > Rent/Purchase </label><br>
    <select id="Rent/Purchase"  name="Rent/Purchase" ><br>
      <option value="none" selected disabled hidden> </option>
      <option value ="Rent">Rent</option>
      <option value ="Purchase">Purchase</option>
    </select><br>
    <label for = "Category"> Category</label><br>
    <select id="Category" name="Category">
        <option value="none" selected disabled hidden> </option>
        <option value ="Shirt">Shirt</option>
        <option value ="Pants">Pants</option>
        <option value ="Shoes">Shoes</option>
        <option value ="Accessories">Accessories</option>
        <option value ="Sweater">Sweater</option>
        <option value ="Dress">Dress</option>       
    </select><br>
    <label for = "Gender" > Gender </label><br>
    <select id="Gender" name="Gender">
        <option value="none" selected disabled hidden> </option>
        <option value ="Female">Female</option>
        <option value ="Male">Male</option>
    </select><br>

    <a >      
      <button class ="EnterAfterSearchButton">
        Search 
      </button>
    </a>





      
</form>
</div>

    
    
</body>
</html>